<div *ngIf="movie" class="card p-4">

  <h1>{{ movie.title }}</h1>

  <img
    [src]="movie.cover"
    [alt]="movie.title"
    width="300"
    class="mb-3"
  >

  <p>
    <strong>Sinopsis:</strong>
    {{ movie.synopsis }}  

  </p>
  
  <p>
    <strong>Año:</strong>
    {{ movie.year }}
  </p>

 <div
  class="mt-4"
  *ngIf="movie.trailer"
>

  <h3>Trailer</h3>  

  <iframe
    width="560"
    height="315"
    [src]="getYoutubeEmbed(movie.trailer)"
    title="YouTube video player"
    frameborder="0"
    allowfullscreen>
  </iframe>

</div>

  <div class="mt-4">

    <a
      [routerLink]="['/edit-movie', movie.id]"
      class="btn btn-warning me-2">

      Editar

    </a>

    <button
      class="btn btn-danger me-2"
      (click)="deleteMovie(movie.id!)">

      Eliminar

    </button>

    <a
      routerLink="/movies"
      class="btn btn-secondary">

      Regresar

    </a>

  </div>

</div>